html {
  background: url('../res/lossScreen.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
  background-color: white;
  border-radius: 5px;
}

.button {
  cursor: pointer;
  padding: 8px;
  background-color: green;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 1px;
  color: white;
  border-style: solid;
}

.hidden {
  display: none
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
