body {
  background-image: url('../res/scoreBoardBackdrop.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
}

h3 {
  border-radius: 10px;
  background-color: white;
  border-color: silver;
  border-width: 2px;
  text-decoration: underline;
}

td {
  font-size: 20px;
}

.data {
  background-color: white;
  border-radius: 10px;
}

#gameAgain {
  background-color: purple;
  color: white;
  border-radius: 5px;
}
