
td {
  font-size: 20px;
}

.data {
  background-color: white;
  border-radius: 10px;
}

#gameAgain {
  background-color: purple;
  color: white;
  border-radius: 5px;
}

html {
  background: url('../res/scoreBoardBackdrop.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.button {
  cursor: pointer;
  padding: 8px;
  background-color: purple;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 1px;
  color: white;
  border-style: solid;
}

.title {
  border-radius: 10px;
  background-color: white;
  border-color: silver;
  border-width: 1px;
}

.hidden {
  display: none;
}
