html {
  background: url('../res/winBackground.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  background-color: white;
  border-radius: 5px;
}

#table {
  background-color: white;
  border-radius: 10px;
}

td {
  font-size: 20px;
}

a {
  margin: 10px;
}

.button {
  cursor: pointer;
  padding: 8px;
  background-color: #c95cc7;
  border-radius: 5px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 1px;
  color: black;
  border-style: solid;
}
