html {
  background: url('../res/winBackground.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  background-color: #C6FF0A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C6FF0A), to(#FF8324));
  background-image: -webkit-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -moz-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -ms-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -o-linear-gradient(top, #C6FF0A, #FF8324);
  border-radius: 5px;
}

table {
  background-color: #C6FF0A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C6FF0A), to(#FF8324));
  background-image: -webkit-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -moz-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -ms-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -o-linear-gradient(top, #C6FF0A, #FF8324);
  border-radius: 10px;
}

td {
  font-size: 20px;
}

a {
  margin: 10px;
}

.button {
  cursor: pointer;
  padding: 8px;
  background-color: #C6FF0A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#C6FF0A), to(#FF8324));
  background-image: -webkit-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -moz-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -ms-linear-gradient(top, #C6FF0A, #FF8324);
  background-image: -o-linear-gradient(top, #C6FF0A, #FF8324);
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 1px;
  color: black;
  border-style: solid;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.hidden {
  display: none;
}
