html {
  background: url('../res/winBackground.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  background-color: white;
  border-radius: 5px;
}

table {
  background-color: white;
  border-radius: 10px;
}

th {
  font-size: 20px;
}

a {
  margin: 10px;
}

.button {
  cursor: pointer;
  padding: 8px;
  background-image: -webkit-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -moz-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -ms-linear-gradient(top, #A5B8DA, #7089B3);
  background-image: -o-linear-gradient(top, #A5B8DA, #7089B3);
  border-radius: 5px;
  margin-left: 25px;
  margin-top: 10px;
  margin-right: 25px;
  margin-bottom: 10px;
  border-color: white;
  border-width: 1px;
  color: black;
  border-style: solid;
}

.footer {
  background-color: black;
}
